* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica', sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

img {
  width: 150px;
  height: 150px;
}

